.grid-item {
  float: left;
  height: 34px;
  text-align: center;
  overflow: hidden;
}


 .grid-item {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: 0 5px;
 }

.striped div:nth-child(even) {
  background: #fafafa;
}

.no-labels .content {
  display: none;
}
